<h3> Do stuff </h3>

<form action="/links" method="post">
  <input type="text" name="link_name" /> Name<br>
  <input type="text" name="link_address" /> Link URL<br>
  <input type="text" name="link_tag" /> Link Tag<br>
  <button type="submit">Memorize Bookmark</button>
</form>
