<h3> Do stuff </h3>

<form action="/links" method="post">
  <input type="text" name="link_name" />
  <input type="text" name="link_address" />
  <button type="submit">Memorize Bookmark</button>
</form>
