<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
  <li>
    <a href="<%= link.link_address %>"><%= link.link_name %></a>
  </li>
  <% end %>
</ul>

<form actions="/links/new">
  <input type="radio" name="ass" value="sddes" > Name<br>
  <input type="submit" value="Filter"/>
</form>

<h3>Want to add your own link? click dat button</h3>

<form action="/links/new" >
  <input type="submit" value="Add Link"/>
</form>
