<form action="/sign_up" method="post">
  <label for="email">Email: </label>
  <input type="email" name="email" value="<%=@user.email%>" required/>
  <label for="password">Password: </label>
  <input type="password" name="password" />
  <label for="password_confirmation">Password check: </label>
  <input type="password" name="password_confirmation" />
  <button type="submit">Sign Up</button>
</form>
