<h1> Welcome fools, please sign in below </h1>

<form action='/login'>
  <button type="submit" value='log in'>  </button>
</form>

<form action='/signup'>
  <button type="submit" value='sign up'>  </button>
</form>



<form action='/links'>
  <button type="submit"> click here </button>
</form>
