<form action="/record" method="post">
  <input type="text" name="name" /> Name<br>
  <input type="text" name="email" /> email<br>
  <input type="text" name="password" /> password<br>
  <button type="submit">Memorize Bookmark</button>
</form>
